---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Header from "../components/Header.astro";
import Cards from "../components/Cards.astro";
---

<Layout title='Welcome to Astro.'>
	<Header />
	<main class='max-w-screen-lg mx-auto'>
		<h1 class='sr-only'>Alte Druckerei</h1>

		<Cards title='2. OG'>
			<Card
				website='https://stephaniedierolf.de/'
				phone='0179 1914906'
				title='Stephanie Dierolf'
				body='Illustration + Design'
				email='hallo@stephaniedierolf.de'
			/>
			<Card
				website='https://astro.build/integrations/'
				title='Integrations'
				body='Supercharge your project with new frameworks and libraries.'
			/>
			<Card
				website='https://astro.build/themes/'
				title='Themes'
				body='Explore a galaxy of community-built starter themes.'
			/>
		</Cards>

		<Cards title='1. OG'>
			<Card
				website='https://docs.astro.build/'
				phone='931231232'
				title='Framelocker'
				body='Learn how Astro works and explore the official API docs.'
			/>
			<Card
				website='https://astro.build/integrations/'
				title='Integrations'
				body='Supercharge your project with new frameworks and libraries.'
			/>
			<Card
				website='https://astro.build/themes/'
				title='Themes'
				body='Explore a galaxy of community-built starter themes.'
			/>
		</Cards>

		<Cards title='UG'>
			<Card
				website='https://docs.astro.build/'
				phone='0162/2050306'
				title='Framelocker'
				body='Learn how Astro works and explore the official API docs.'
			/>
			<Card
				website='https://astro.build/integrations/'
				title='Integrations'
				body='Supercharge your project with new frameworks and libraries.'
			/>
			<Card
				website='https://astro.build/themes/'
				title='Themes'
				body='Explore a galaxy of community-built starter themes.'
			/>
		</Cards>
	</main>
</Layout>
